#button {
	color:red;
	width: 200px;
	height: 20px;
	border:1px solid blue;
}

#one {
width: 175px;
height:26px;
text-align: center;
color: #0088cc;
position: relative;
}

#two {
width: 175px;
height:26px;
text-align: center;
color: #0088cc;
position: relative;
}

.hightlight{
	background-color: #eeeeee;
	border-radius: 2px;
}

.icon-collapse{
	display: inline-block;
}
.open {
-webkit-transform: rotate(270deg);
};